<!-- Page Preloder -->
<!--<div id="preloder">-->
<!--  <div class="loader"></div>-->
<!--</div>-->

<!-- Header Section Begin -->
<header class="header">
  <div class="header__top">
    <div class="container" style="    margin-bottom: -30px">
      <div class="row">
        <div class="col-lg-6 col-md-6" routerLink="/detail-customer">
          <div class="header__top__left">
            <ul>
              <li><i class="fa fa-envelope"*ngIf="!checklogin()">Truanayangi@gmail.com</i> </li>
              <img *ngIf="checklogin()" [src]="avatar" width="7%" height="7%" alt="">
              <li><i *ngIf="checklogin()"></i> {{email}}</li>
              <li>Free Shipping up 50%</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="header__top__right">
            <div class="header__top__right__social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a href="#"><i class="fa fa-pinterest-p"></i></a>
            </div>
            <div class="header__top__right__language">
              <img src="../../../assets/img/language.png" alt="">
              <div>English</div>
              <span class="arrow_carrot-down"></span>
              <ul>
                <li><a href="#">Spanis</a></li>
                <li><a href="#">English</a></li>
              </ul>
            </div>
            <div class="header__top__right__auth">
              <a routerLink="/login" *ngIf="!checklogin()"><i class="fa fa-user"></i> Login</a>
              <a (click)="logOut()" *ngIf="checklogin()"><i class="fa fa-user"></i> Logout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header Section End -->
