<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="header__logo">
        <a href="./index.html"><img src="../../../assets/img/logo1.png" alt=""></a>
      </div>
    </div>
    <div class="col-lg-6">
      <nav class="header__menu">
        <ul>
          <li class="active"><a href="./index.html">Home</a></li>
          <li><a routerLink="/home-merchant">Shop123</a></li>
          <li><a href="#">Pages</a>
            <ul class="header__menu__dropdown">
              <li><a href="./shop-details.html">Shop Details</a></li>
              <li><a href="./shoping-cart.html">Shopping Cart</a></li>
              <li><a href="./checkout.html">Check Out</a></li>
              <li><a href="./blog-details.html">Blog Details</a></li>
            </ul>
          </li>
          <li><a href="./blog.html">Blog</a></li>
          <li><a href="./contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-lg-3">
      <div class="header__cart">
        <ul>
          <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
          <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
        </ul>
        <div class="header__cart__price">item: <span>$150.00</span></div>
      </div>
    </div>
  </div>
  <div class="humberger__open">
    <i class="fa fa-bars"></i>
  </div>
</div>
<!-- Hero Section Begin -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="hero__categories">
          <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>All departments</span>
          </div>
          <ul>
<!--            <li *ngFor="let category of categoryList"><a href="#">{{category.nameCategory}}</a></li>-->
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
            <form action="#">
              <div class="hero__search__categories">
                All Merchant
                <span class="arrow_carrot-down"></span>
              </div>
              <input type="text" class="form-control" placeholder="What do you need?">
              <button type="submit" class="btn btn-info">SEARCH</button>
            </form>
          </div>
          <div class="hero__search__phone">
            <div class="hero__search__phone__icon">
              <i class="fa fa-phone"></i>000
            </div>
            <div class="hero__search__phone__text">
              <h5>+65 11.188.888</h5>
              <span>support 24/7 time</span>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>
<!-- Featured Section Begin -->
<section class="featured spad">
  <div class="container">
    <div class="row">
    </div>
    <div class="row featured__filter">
      <div class="col-lg-3 col-md-4 col-sm-6 " *ngFor=" let merchant of merchants">
        <div class="featured__item">
          <div class="list-card-image">
<!--            <div class="star position-absolute"><span class="badge badge-success"> ({{food.sold}}+)</span></div>-->
            <div class="favourite-heart text-danger position-absolute"><a href="detail.html"><i
              class="icofont-heart"></i></a></div>
            <div class="member-plan position-absolute"><span
              class="badge badge-dark">Promoted</span></div>
<!--            <a [routerLink]="['/detail-product', food.id]">-->
              <img src="{{merchant.imageBanner}}" class="img-fluid item-img">
<!--            </a>-->
            <ul class="featured__item__pic__hover">
              <li><a href="#"><i class="fa fa-heart"></i></a></li>
              <li><a href="#"><i class="fa fa-retweet"></i></a></li>

            </ul>
          </div>
          <div class="featured__item__text">
            <h6><a [routerLink]="['/detail-food', merchant.id]">{{merchant.name}}</a></h6>
<!--            <h5>{{food.price}}VNĐ</h5>-->
          </div>
        </div>
      </div>

    </div>
  </div>


</section>

<app-footer></app-footer>

