<app-navbar></app-navbar>
<!-- Hero Section Begin -->
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="header__logo">
        <a href="./index.html" style=" margin-left: 75px"><img src="../../../assets/img/logo1.png" alt=""></a>
      </div>
    </div>
    <div class="col-lg-6">
      <nav class="header__menu" style="margin-top: 32px">
        <ul>
          <li class="active"><a routerLink="">Home</a></li>
          <li><a href="./shop-grid.html">Shop</a></li>
          <li><a href="#">Pages</a>
            <ul class="header__menu__dropdown">
              <li><a href="./shop-details.html">Shop Details</a></li>
              <li><a href="./shoping-cart.html">Shoping Cart</a></li>
              <li><a href="./checkout.html">Check Out</a></li>
              <li><a href="./blog-details.html">Blog Details</a></li>
            </ul>
          </li>
          <li><a href="./blog.html">Blog</a></li>
          <li><a href="./contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-lg-3">
      <div class="header__cart" style="margin-top: 37px;">
        <ul>
          <li><a href="#"><i class="fa fa-heart"></i> <span></span></a></li>
          <li><a routerLink="/cart"><i class="fa fa-shopping-bag"></i> <span></span></a></li>
        </ul>
        <div class="header__cart__price">Hello: <span>EveryBody</span></div>
      </div>
    </div>
  </div>
  <div class="humberger__open">
    <i class="fa fa-bars"></i>
  </div>
</div>
<section class="hero hero-normal">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="hero__categories">
          <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>All departments</span>
          </div>
          <ul>
            <li><a href="#">Fresh Meat</a></li>
            <li><a href="#">Vegetables</a></li>
            <li><a href="#">Fruit & Nut Gifts</a></li>
            <li><a href="#">Fresh Berries</a></li>
            <li><a href="#">Ocean Foods</a></li>
            <li><a href="#">Butter & Eggs</a></li>
            <li><a href="#">Fastfood</a></li>
            <li><a href="#">Fresh Onion</a></li>
            <li><a href="#">Papayaya & Crisps</a></li>
            <li><a href="#">Oatmeal</a></li>
            <li><a href="#">Fresh Bananas</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
            <form action="#">
              <div class="hero__search__categories">
                All Categories
                <span class="arrow_carrot-down"></span>
              </div>
              <input type="text" placeholder="What do you need?">
              <button type="submit" class="site-btn">SEARCH</button>
            </form>
          </div>
          <div class="hero__search__phone">
            <div class="hero__search__phone__icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="hero__search__phone__text">
              <h5>+65 11.188.888</h5>
              <span>support 24/7 time</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="../../../assets/img/breadcrumb.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>{{merchant.name}}</h2>
          <div class="breadcrumb__option">
            <a href="./index.html">Home</a>
            <a href="./index.html">Vegetables</a>
            <span>Vegetable’s Package</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Product Details Section Begin -->
<section class="product-details spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="product__details__pic">
          <div class="product__details__pic__item">
            <img class="product__details__pic__item--large"
                 src="{{merchant.avatar}}" alt="">
            <!--            <img class="product__details__pic__item&#45;&#45;large"-->
            <!--                 src="{{merchant.imageBanner}}" alt="">-->
          </div>
          <div>
            <img data-imgbigurl="img/product/details/product-details-2.jpg"
                 src="../../../assets/img/product/details/thumb-1.jpg" alt="">
            <img data-imgbigurl="img/product/details/product-details-3.jpg"
                 src="../../../assets/img/product/details/thumb-2.jpg" alt="">
            <img data-imgbigurl="img/product/details/product-details-5.jpg"
                 src="../../../assets/img/product/details/thumb-3.jpg" alt="">
            <img data-imgbigurl="img/product/details/product-details-4.jpg"
                 src="../../../assets/img/product/details/thumb-4.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="product__details__text">
          <h3>{{merchant.name}}</h3>
          <div class="product__details__rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <span>(18 reviews)</span>
          </div>
          <!--          <div class="product__details__price">$50.00</div>-->
          <p>{{merchant.description}}</p>
          <!--          <div class="product__details__quantity">-->
          <!--            <div class="quantity">-->
          <!--              <div class="pro-qty">-->
          <!--                <input type="text" value="1">-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
          <!--          <a href="#" class="primary-btn">ADD TO CARD</a>-->
          <!--          <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>-->
          <ul>
            <li><b>Phone Number :</b> <span>{{merchant.phoneNumber}}</span></li>
            <li><b>Address :</b> <span>{{merchant.address}}</span></li>
            <!--            <li><b>Address</b> <span>{{merchant.}}</span></li>-->
            <!--            <li><b>Weight</b> <span>0.5 kg</span></li>-->
            <li><b>Share on</b>
              <div class="share">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="product__details__tab">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                 aria-selected="true">Food of merchant</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                 aria-selected="false">Information</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                 aria-selected="false">Reviews <span>(1)</span></a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tabs-1" role="tabpanel">
              <div class="product__details__tab__desc">
                <h6>Food in the restaurant: {{merchant.name}}</h6>
                <div>
                  <div class="row featured__filter">
                    <div class="col-md-4 col-sm-6 mb-4 pb-2" *ngFor=" let food of foods">
                      <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm" style="width: 300px">
                        <div class="list-card-image">
                          <div class="star position-absolute"><span class="badge badge-success"> ({{food.sold}}+)</span></div>
                          <div class="favourite-heart text-danger position-absolute"><a href="detail.html"><i
                            class="icofont-heart"></i></a></div>
                          <div class="member-plan position-absolute"><span
                            class="badge badge-dark">Promoted</span></div>
                          <a [routerLink]="['/detail-food-add-to-cart', food.id]">
                            <img src="{{food.image}}" class="img-fluid item-img" style="width: 300px">
                          </a>
                        </div>
                        <div class="p-3 position-relative">
                          <div class="list-card-body">
                            <h5 class="mb-1" style="text-align: center"><a [routerLink]="['/detail-food-add-to-cart', food.id]"
                                                                           class="text-black">{{food.name}}</a></h5>
                            <br>
                            <!--                  <p class="text-gray mb-3">Price: {{product.price}}</p>-->
                            <a [routerLink]="['/login-merchant-detail', food.merchant.id]" class="text-gray mb-3 time"><span
                              class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                              class="icofont-home"></i> {{food.merchant.name}}</span> </a>
                            <br>
                            <br>
                            <!--                  <span class="float-right text-black-50"> {{}}</span>-->
                            <p class="text-gray mb-3"><span><i class="icofont-address-book"></i></span> {{food.merchant.address}}</p>

                          </div>
                          <div class="list-card-badge" style="text-align: right;font-size: 17px" >
                            <div>
                              <i class="fa fa-heart" style="margin-right: 10px"></i>
                              <i class="fa fa-retweet" style="margin-right: 10px"></i>
                              <i class='fas fa-cart-plus' style="margin-right: 10px" (click)="addToCart(food.id)"></i></div>
                            <span class="badge badge-success" style="margin-right: 5px">Price</span >{{food.price}} VND
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tabs-2" role="tabpanel">
              <div class="product__details__tab__desc">
                <h6>Products Infomation</h6>
                <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                  Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus.
                  Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam
                  sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo
                  eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat.
                  Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Praesent
                  sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac
                  diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ante
                  ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                  Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                  Proin eget tortor risus.</p>
                <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem
                  ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet
                  elit, eget tincidunt nibh pulvinar a. Cras ultricies ligula sed magna dictum
                  porta. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus
                  nibh. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>
              </div>
            </div>
            <div class="tab-pane" id="tabs-3" role="tabpanel">
              <div class="product__details__tab__desc">
                <h6>Products Infomation</h6>
                <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                  Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus.
                  Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam
                  sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo
                  eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat.
                  Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Praesent
                  sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac
                  diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ante
                  ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                  Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                  Proin eget tortor risus.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Details Section End -->
<app-footer></app-footer>
