<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="header__logo">
        <a href="./index.html" style=" margin-left: 75px"><img src="../../../assets/img/logo1.png" alt=""></a>
      </div>
    </div>
    <div class="col-lg-6">
      <nav class="header__menu" style="margin-top: 32px">
        <ul>
          <li class="active"><a routerLink=""></a></li>
          <li class="active"><a routerLink=""></a></li>
          <li class="active"><a routerLink=""></a></li>

          <li class="active"><a routerLink="">Home</a></li>
          <li><a routerLink="/list-merchant">List Merchant</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-lg-3">
      <div class="header__cart" style="margin-top: 37px;">
        <ul>
          <li><a href="#"><i class="fa fa-heart"></i> <span></span></a></li>
          <li><a (click)="checkCart()"><i class="fa fa-shopping-bag"></i> <span></span></a></li>
        </ul>
        <div class="header__cart__price">Hello: <span>EveryBody</span></div>
      </div>
    </div>
  </div>
  <div class="humberger__open">
    <i class="fa fa-bars"></i>
  </div>
</div>
<section class="featured spad">

  <div class="container" style=" margin-top: -67px;">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <input type="text" class="form-control" placeholder="Search merchant with address?" #find (input)="findMerchantByAddress(find.value)" style="width: 300px">
        </div>
      </div>
    </div>
    <div class="row featured__filter" style="margin-top: 30px;">
      <div class="col-md-4 col-sm-6 mb-4 pb-2" *ngFor=" let merchant of merchantList">
        <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm" style="width: 300px">
          <div class="list-card-image">
            <div class="star position-absolute"><span class="badge badge-success"></span></div>
            <div class="favourite-heart text-danger position-absolute"><a href="detail.html"><i
              class="icofont-heart"></i></a></div>
            <div class="member-plan position-absolute"><span
              class="badge badge-dark">Promoted</span></div>
            <a>
              <img src="{{merchant.avatar}}" class="img-fluid item-img">
            </a>
          </div>
          <div class="p-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1" style="text-align: center;font-weight: bold;font-size: 20px;"><a [routerLink]="['/detail-merchant', merchant.id]"
                                                             class="text-black">{{merchant.name}}</a></h6>
              <br>
              <!--                  <p class="text-gray mb-3">Price: {{product.price}}</p>-->
              <a [routerLink]="['/detail-merchant',merchant.id]" class="text-gray mb-3 time"><span
                class="bg-light text-dark rounded-sm pl-2 pb-1 pt-1 pr-2"><i
                class="icofont-home"></i> {{merchant.name}}</span> </a>
              <br>
              <br>
              <!--                  <span class="float-right text-black-50"> {{}}</span>-->
              <p class="text-gray mb-3"><span><i class="icofont-address-book"></i></span> {{merchant.address}}</p>

            </div>
            <!--                <div class="list-card-badge" style="text-align: right-->
            <!--">-->
            <!--                  <span class="badge badge-success">Price</span> {{food.price}} VND-->
            <!--                </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>


</section>

<app-footer></app-footer>
